*{
    margin: 0;
    padding: 0;
    

}

.main{
    width: 100%;
    background: linear-gradient(to top , rgba(0,0,0,0.5)50%,rgba(5, 3, 3, 0.5)50%),url(https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmxvZ3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80);
    background-position: center;
    background-size: cover;
    height: 109vh;
 
    }
    .navbar{
        width: 1200px;
        height: 75px;
        margin: auto;
    }
    .navbar .nav_mobi{
        display: none;
    }
    .icon{
        width: 200px;
        float: left;
        height: 70px;
    }
    .logo{
        color:chocolate;
        font-size: 35px;
        font-family: arial;
        padding-left: 20px;
        float: left;
        padding-top: 10px;
    }
    

ul{
    float:left;
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;

}
ul li{
    list-style: none;
    margin-left: 92px;
    margin-top: 17px;
    font-size: 24px;
    
}
ul li a{
    text-decoration: none;
    color:darkorange;
    font-family: arial;
    font-weight: bold;
    transition: 0.4 ease-in-out;
}
ul li a:hover{
    color:#ff7200;
}
.sub-menu{
    display: none;
    top: 3%;
    position: relative;
  
   
}


.active, ul li:hover{
    width: 140px;
    height: 40px;
    background:#fff;
    border-radius: 5px;
}

ul li:hover .sub-menu{
  
    margin-top: 15px;
    width: 500px;
    height: 300px;
    display: block;
    position: absolute;
    
 
    
}



.main ul li:hover .sub-menu ul{
    display: block;
    margin: 6px;
}

.main ul li:hover .sub-menu ul li{
    margin-bottom: 20px;
    margin-left: -8px;
    width: 1800px;
    height: 5px;
    
    border-bottom: 1px #fff;
    background: transparent;
    transition: 0.4 ease;
    
    border-radius: 10px;
    
}




.content{
    
    width: 1200px;
    height: auto;
    margin: auto;
    color:lavender;
    position: relative;
    padding-bottom: 20px;
}
.content .par{
    font-family: 30px;
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 0;
    margin-top: 15%;
    letter-spacing: 2px;
}
.content.cn{
    margin-top: 20px;
    width: 160px;
    height: 80px;
    background: #ff7200;
   
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}
.content.cn a{
   
    text-decoration: none;
    color:darkgray;
    transition: .3s ease;
}
.cn:hover{
    background-color:powderblue;
}
.content span{
    color: #ff7200;
    font-size: 55px;
}
.content1 h2{
    font-size: 30px;
    color:orange;


    }
.content1 p{
    font-size: 20px;
    color: #fff;
}
.form{
   
    width: 250px;
    height: 390px;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);
    position: absolute;
    top: 8%;
    left: 85%;
    border-radius: 10px;
    padding: 30px;
}

.form p{
    color: #fff;
    font-size: 15px;

}
.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color:#fff;
    font-size: 22px;
    background-color:darkslateblue;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;}
    .form input{
        width: 240px;
        height: 35px;
        background: transparent;
        border-bottom: 2px solid #000;
        border-top: none;
        border-right: none;
        border-left: none;
        color:#fff;
        font-size: 15px;
        letter-spacing: 1px;
        margin-top: 30px;
        font-family: sans-serif;
    }

    .form input :focus{
        outline: none;
    }
::placeholder{
    color: #000;
    font-family: arial;
}
.btnn{
    width: 240px;
    height: 40px;
    background:darkslateblue;
    border:none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: aliceblue;
    transition: 0.4 ease;
}
.btnn :hover{
    background: aliceblue;
    color: #ff7200;
}
.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}






.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form .link a{
    text-decoration: none;
    color: #ff7200;
}
.liw{
    padding: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.icon a{
    text-decoration: none;
    color: aliceblue;

}
.icon ion-icon{
    
    color: aliceblue;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}
.icon ion-icon:hover{
    color:#ff7200;
}



@media only screen and (min-width:740px) and (max-width: 1023px){

    .main{
        width: 100%;
        background: linear-gradient(to top , rgba(0,0,0,0.5)50%,rgba(5, 3, 3, 0.5)50%),url(https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmxvZ3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80);
        background-position: center;
        background-size: cover;
        height: 139vh;
     
        }
    .navbar{
        width: 800px;
        height: 75px;
        
    } 
    .logo{
        color:chocolate;
        font-size: 35px;
        font-family: arial;
        padding-left: 10px;
        float: left;
        padding-top: 10px;
    }
   
    ul li{
        list-style: none;
        margin-left: 42px;
        margin-top: 17px;
        font-size: 24px;
        
    }
    .sub-menu{
        display: none;
        top: 10%;
        position: relative;
      
       
    }

    .content{
    
        width: 100%;
        height: auto;
        margin: auto;
        color:lavender;
        position: relative;
        padding-bottom: 20px;
    }
    .content .par{
        font-family: 30px;
        padding-left: 20px;
        padding-bottom: 25px;
        font-family: Arial;
        letter-spacing: 1.2px;
        line-height: 30px;
    }
    .content h1{
        font-family: 'Times New Roman';
        font-size: 50px;
        padding-left: 30%;
        margin-top: 30%;
        letter-spacing: 2px;
    }
    .content.cn{
        margin-top: 20px;
        width: 160px;
        height: 80px;
        background: #ff7200;
       
        margin-bottom: 10px;
        margin-left: 20px;
        font-size: 30px;
        border-radius: 10px;
        cursor: pointer;
        transition: .4s ease;
    }
    .content.cn a{
       
        text-decoration: none;
        color:darkgray;
        transition: .3s ease;
    }
    .cn:hover{
        background-color:powderblue;
    }
    .content span{
        color: #ff7200;
        font-size: 55px;
    }
    .content1 h2{
        font-size: 30px;
        color:orange;
        margin-top: 20px;
    
        }
    .content1 p{
        font-size: 20px;
        color: #fff;
    }
    .form{
   
        width: 250px;
        height: 390px;
        background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);
        position: relative;
        top: 99%;
        left: 35%;
        border-radius: 10px;
        padding: 30px;
    }


}
/* @media only screen and (max-width:739px) {
    .main{
        width: 100%;
        background: linear-gradient(to top , rgba(0,0,0,0.5)50%,rgba(5, 3, 3, 0.5)50%),url(https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmxvZ3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80);
        background-position: center;
        background-size: cover;
        height: 139vh;
     
        }
    .navbar{
        
        width: 100%;
        height: 75px;
        
    } 
    .nav_pc{
    display: none;
}
   .nav_mobi{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 320px;
        max-width: 100%;
    }
    .icon{
        width: 200px;
        float: left;
        height: 70px;
    }
    

ul{
    float:left;
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;

}
ul li{
    list-style: none;
    margin-left: 92px;
    margin-top: 17px;
    font-size: 24px;
    
}
ul li a{
    text-decoration: none;
    color:darkorange;
    font-family: arial;
    font-weight: bold;
    transition: 0.4 ease-in-out;
}
ul li a:hover{
    color:#ff7200;
}
.sub-menu{
    display: none;
    top: 3%;
    position: relative;
  
   
}


.active, ul li:hover{
    width: 140px;
    height: 40px;
    background:#fff;
    border-radius: 5px;
}

ul li:hover .sub-menu{
  
    margin-top: 15px;
    width: 500px;
    height: 300px;
    display: block;
    position: absolute;
    
 
    
}



.main ul li:hover .sub-menu ul{
    display: block;
    margin: 6px;
}

.main ul li:hover .sub-menu ul li{
    margin-bottom: 20px;
    margin-left: -8px;
    width: 1800px;
    height: 5px;
    
    border-bottom: 1px #fff;
    background: transparent;
    transition: 0.4 ease;
    
    border-radius: 10px;
    
}
    .logo{
        color:chocolate;
        font-size: 35px;
        font-family: arial;
        padding-left: 10px;
        float: left;
        padding-top: 10px;
    }
   
    ul li{
        list-style: none;
        margin-left: 42px;
        margin-top: 17px;
        font-size: 24px;
        
    }
    .sub-menu{
        display: none;
        top: 10%;
        position: relative;
      
       
    }

    .content{
    
        width: 100%;
        height: auto;
        margin: auto;
        color:lavender;
        position: relative;
        padding-bottom: 20px;
    }
    .content .par{
        font-family: 30px;
        padding-left: 20px;
        padding-bottom: 25px;
        font-family: Arial;
        letter-spacing: 1.2px;
        line-height: 30px;
    }
    .content h1{
        font-family: 'Times New Roman';
        font-size: 50px;
        padding-left: 30%;
        margin-top: 30%;
        letter-spacing: 2px;
    }
    .content.cn{
        margin-top: 20px;
        width: 160px;
        height: 80px;
        background: #ff7200;
       
        margin-bottom: 10px;
        margin-left: 20px;
        font-size: 30px;
        border-radius: 10px;
        cursor: pointer;
        transition: .4s ease;
    }
    .content.cn a{
       
        text-decoration: none;
        color:darkgray;
        transition: .3s ease;
    }
    .cn:hover{
        background-color:powderblue;
    }
    .content span{
        color: #ff7200;
        font-size: 55px;
    }
    .content1 h2{
        font-size: 30px;
        color:orange;
        margin-top: 20px;
    
        }
    .content1 p{
        font-size: 20px;
        color: #fff;
    }
    .form{
   
        width: 250px;
        height: 390px;
        background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);
        position: relative;
        top: 99%;
        left: 10%;
        border-radius: 10px;
        padding: 30px;
    }


}

     */
@media only screen and (max-width:739px) {
    .main{
        width: 100%;
        background: linear-gradient(to top , rgba(0,0,0,0.5)50%,rgba(5, 3, 3, 0.5)50%),url(https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmxvZ3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80);
        background-position: center;
        background-size: cover;
        height: auto;
     
        }
        .navbar{
            width: 100%;
            height: 550px;
            margin: auto;
        }
       
        .icon{
            width: 200px;
            float: left;
            height: 70px;
        }
        .logo{
            color:chocolate;
            font-size: 35px;
            font-family: arial;
            padding-left: 20px;
            float: left;
            padding-top: 10px;
        }
        
    
    ul{
        float:left;
        display: block;
        list-style-type: none;
        justify-content: center;
        align-items: center;
    
    }
    ul li{
        list-style: none;
        margin-left: 12px;
        margin-top: 17px;
        font-size: 24px;
        
    }
    ul li a{
        text-decoration: none;
        color:darkorange;
        font-family: arial;
        font-weight: bold;
        transition: 0.4 ease-in-out;
    }
    ul li a:hover{
        color:#ff7200;
    }
    .sub-menu{
        display: none;
        top: 40%;
        position: relative;
        background: lightcyan;
      
       
    }
    
    
    .active, ul li:hover{
        width: 140px;
        height: 40px;
        background:#fff;
        border-radius: 5px;
    }
    
    ul li:hover .sub-menu{
      
        margin-top: 5px;
        width: 500px;
        height: 200px;
        display: block;
        position: absolute;
        
     
        
    }
    
    
    
    .main ul li:hover .sub-menu ul{
        display: block;
        margin: 6px;
    }
    
    .main ul li:hover .sub-menu ul li{
        margin-bottom: 20px;
        margin-left: -8px;
        width: 1800px;
        height: 5px;
        
        border-bottom: 1px #fff;
        background: transparent;
        transition: 0.4 ease;
        
        border-radius: 10px;
        
    }
    .content{
    
        width: 100%;
        height: auto;
        margin: auto;
        
        position: relative;
        padding-bottom: 20px;
    }
    .content .par{
        font-family: 30px;
        padding-left: 20px;
        padding-bottom: 25px;
        font-family: Arial;
        letter-spacing: 1.2px;
        line-height: 30px;
    }
    .content h1{
        font-family: 'Times New Roman';
        font-size: 50px;
        padding-left: 0;
        margin-top: 15%;
        letter-spacing: 2px;
    }
    .content.cn{
        margin-top: 20px;
        width: 160px;
        height: 80px;
        background: #ff7200;
       
        margin-bottom: 10px;
        margin-left: 20px;
        font-size: 30px;
        border-radius: 10px;
        cursor: pointer;
        transition: .4s ease;
    }
    .content.cn a{
       
        text-decoration: none;
        color:darkgray;
        transition: .3s ease;
    }
    .cn:hover{
        background-color:powderblue;
    }
    .content span{
        color: #ff7200;
        font-size: 55px;
    }
    .content1 h2{
        font-size: 30px;
        color:orange;
    
    
        }
    .content1 p{
        font-size: 20px;
        color: #fff;
    }
    
    .form{
   float: right;
        width: 250px;
        height: 390px;
        background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);
        position: absolute;
        top: 100%;
       margin-left: -260px;
        border-radius: 10px;
        
    }
}

